.formAddPost {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px 20px;
}

.formAddPost textarea {
    border: 0;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #000;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons__add {
    display: flex;
    align-items: center;
    gap: 0 10px;
}