.personal {
    background-color: #F0F0F0;
    padding: 30px;
}

.personal__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FFF;
    border-radius: 10px;
}

.header {
    width: 100%;
    position: relative;
}


.header img {
    width: 100%;
    max-height: 30vh;
    border-radius: 10px;
}

.data {
    position: absolute;
    top: 30vh;
    left: 15vw;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.data__user {
    color: #FFF;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.avatar {
    width: 180px;
}


